[Desktop Entry]
Name=PWCode
GenericName=PWCode Editor
Comment=Data and code editor for digital preservation work
Exec=./bin/pwcode %F
Icon=/home/bba/bin/PWCode/bin/img/android-chrome-512x512_9.gif
Terminal=false
Type=Application
Keywords=Text;Editor;
Categories=Development;TextEditor;
StartupWMClass=pwcode
StartupNotify=false
MimeType=text/english;text/plain;application/x-shellscript;
